<header>
    <mat-toolbar class ="header-background">
        
      <div ngbDropdown class="dropdown" style ="border-right: 1px solid white; padding-right: 5px;">
    
        <button mat-icon-button class="menu-btn btn btn-outline" aria-label="Example icon-button with heart icon" ngbDropdownToggle>
            <i class="bi bi-person-circle fs-1" style ="color:black"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu style ="margin-left: 30px;">
            <ul class ="list-group list-group-flush">
              <li class = "list-group-item dropdown-item fs-5 ">
                <div class ="row">
                 <div class ="col-md-6">

            Admin</div> <div class ="col-md-6"><span style = "margin-left: 10px;"><i class="bi bi-person-plus fs-5"></i></span></div></div></li>
            
            <li class ="list-group-item dropdown-item fs-5">
              <div class ="row">
                <div class ="col-md-6">
            Logout</div> 
            <div class ="col-md-6"><span style ="margin-left: 10px;"><i class="bi bi-box-arrow-right fs-5"></i></span></div></div></li>
            </ul>
        </div>
    </div>

    <span style = "margin-left: 10px;"><label class = " fs-4"  style ="border-color: #FFFF;">ADMIN DASHBOARD</label></span>


      
        <!-- <span><label class = " fs-4" style ="margin-left:5px;border-right:2px solid #FFFF;padding-right: 5px;">EMT</label></span> -->
       
    
    
    <span class="example-spacer"></span>

    <!-- <button mat-icon-button class="btn-fb btn btn-outline" aria-label="Example icon-button with heart icon">
      <i class="bi bi-facebook fs-4 header-icon fb" ></i>
    </button>

    <button mat-icon-button class="btn-tw btn btn-outline" aria-label="Example icon-button with heart icon">
      <i class="bi bi-twitter fs-4 header-icon tw"></i>
    </button-->

    


    <!-- <button mat-icon-button class="menu-btn btn btn-outline"><i class="bi bi-info-circle-fill fs-4 text-dark"></i></button>
    
    <button mat-icon-button class="menu-btn btn btn-outline" aria-label="Example icon-button with heart icon">
      <i class="bi bi-telephone-fill fs-4 header-icon"></i>
    </button>  -->

<!-- <button class ="menu-btn btn btn-outline">
  <i class="bi bi-list fs-2"></i></button> -->
    


    

    <!--button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button-->
  </mat-toolbar>
</header>
